.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  .bouton {
    height: 100px;
    width: 90px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    border: 0px #EEE;
    background-color: #EEE;
  }
  .active {
    background-color: gray;
  }
  .button {
    margin: 0;
    padding: 0;
    height: 70px;
    width: 80px;
    font-size: 80px;
  }
  p {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}
