<div class="navbar">
  <div class="bouton" routerLink="accueil" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
    <mat-icon class="button">home</mat-icon>
  </div>
  <div routerLink="ng">
    <button class="bouton" routerLinkActive="active">NG</button>
  </div>
  <div routerLink="agc">
    <button class="bouton" routerLinkActive="active">AGC</button>
  </div>
  <div routerLink="r2n">
    <button class="bouton" routerLinkActive="active">R2N</button>
  </div>
  <div class="bouton" routerLink="hsupastreinte" routerLinkActive="active">
    <mat-icon class="button">timelapse</mat-icon>
    <p>heure sup</p>
  </div>
  <div class="bouton" routerLink="saisie-astreinte" routerLinkActive="active">
    <mat-icon class="button">timeline</mat-icon>
    <p>astreinte</p>
  </div>
  <div class="bouton" routerLink="pointage" routerLinkActive="active">
    <mat-icon class="button">save</mat-icon>
    <p>pointage</p>
  </div>
  <div class="bouton" matTooltip="Info about the action" routerLink="parametres" routerLinkActive="active">
    <mat-icon class="button">settings</mat-icon>
    <p>paramètres</p>

  </div>
</div>