/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: avenir-black, sans-serif;
}
@import "angular-calendar/scss/angular-calendar.scss";
@import "wcs-core/dist/wcs/wcs.css";
@import "wcs-core/design-tokens/dist/sncf-voyageurs.css";
