<div class="accueil-card" [ngClass]="{snapped: userHasSnapped}">
  <h2>{{accueil.title | titlecase}}</h2>
  @if (accueil.localisation) {
  <p>{{accueil.localisation}}</p>
  }@else{
  <p>{{accueil.description}}</p>
  }
  <p> Site créé le : {{accueil.createdAt | date: 'd MMMM yyyy'}}</p>
  <p>💪 {{accueil.snap}}</p>
  <img src="{{accueil.imageUrl}}" alt="{{accueil.title}}">
  <p>
    <button (click)="onClickImage()">
      {{texteBouton}}
    </button>
    <span [ngStyle]="{ color: 'rgb(0, ' + accueil.snap + ', 0)'}">🤌
      {{ accueil.snap }}
    </span>
  </p>
</div>